<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render :partial => 'layouts/head' %>
  </head>
  <body>
    <% unless flash[:notice].blank? %> <p style="color: green"><%= flash[:notice] %></p><%end%>
    <%= yield %>
<div class="copy">made in <a href="http://swinemask.com">swine mask</a></div>
  </body>
</html>
